.containers{
    height: 64vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.labels-1{
    max-width: 1000px;
    height: 700px;
    width: 100%;
    background-color:#9c8cf2;
    padding: 0 70px;
    border-radius: 150px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    margin-top: 17%;
}
label,
h3 {
  color: #666666;

}
.text-center{
  display: flex;
  flex-direction: column;
}
.row-1{
  margin-top: 9%;
  display: flex;
  flex-direction: row;
}
.head {
  color: white;
  font-family: "Poppins";
  font-style: Bolder;
  text-align: center;
}
.avatar-1 {
  width: 400px;
  height: 400px;
}
.personal-1{
    margin-left: 150px;
}
.col-78{
    margin-top: 17px;

}